.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100vw;
    height: 80px;
    background-color: #3D5A80;
    .logo{
        display: flex;
        align-items: center;
        .logoImagem{
            width: 50px;
        }
        .brand{ 
            margin: 0 15px;
            color: white;
            font-family: "Righteous", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
        }
    }
    .menu{
        display: flex;
        button{
            margin-left: 25px;
            width: 120px;
            font-weight: 500;
            font-size: 16px;
            height: 40px;
            border-radius: 7px;
        }   
        #acessar{
            background-color: #1a2f4adc;
            border: 2px solid #EE6C4D;
            &:hover{
                transform: scale(1.01);
            }
        }
        #testar{
            background-color: #EE6C4D;
            border: none;
            &:hover{
                transform: scale(1.01);
            }            
        }
    }
}