<div class="main">
    <div class="imagem">
        <img src="assets/financial-controls 1.png" alt="imagem-assistente-financeiro">
    </div>
    <div class="body">
        <h1 class="title">Gerenciamento Financeiro e Vendas</h1>
        <h3 class="subtitle">Sistema de controle financeiro 100% online e acessível e maximize resultados com o nosso programa para controle de vendas</h3>
        <p class="description">Controle tudo o que você precisa em um só lugar, 100% online e acessível. O Tech Assist Hub possui um software financeiro intuitivo e de fácil acesso que ajuda você a se livrar de tarefas manuais tediosas!</p>
    </div>
 </div>