<div class="main">
    <div class="imagem">
        <img src="assets/crm 1.png" alt="imagem-assistente-financeiro">
    </div>
    <div class="body">
        <h1 class="title">Gerenciamento de Clientes</h1>
        <h3 class="subtitle">Modernize seu Negócio com o Cadastro de Clientes</h3>
        <p class="description">Tenha o controle completo do cadastro de seus clientes em um único lugar, totalmente online e acessível. 
            Com o Tech Assist Hub, você terá à sua disposição um software intuitivo e de fácil acesso que simplifica o gerenciamento de informações dos seus clientes, 
            ajudando-o a se livrar de tarefas manuais tediosas!</p>
    </div>
 </div>