<div class="main">

  <div class="faq">
    <div class="logo">
      <img src="assets/logo.png" alt="logo" />
      <h1 class="title">Tech Assist Hub</h1>
    </div>
    <div class="contatos">
      <a href="#"><img id="instagram" src="assets/instagram.png" alt="instagram"></a>
      <a href="#"><img id="linkedin" src="assets/linkedin.png" alt="linkedin"></a>
      <a href="#"><img id="whatsapp" src="assets/whatsapp.png" alt="whatsapp"></a>
      <a href="#"><img id="facebook" src="assets/facebook.png" alt="facebook"></a>
    </div>
  </div>

  <div class="quemSomos">
    <h1>Tech Assist Hub</h1>
    <ul>
      <li><a href="#">Teste Grátis</a></li> 
      <li><a href="#">Acessar o Sistema</a></li>
      <li><a href="#">Quem Somos</a></li>
      <li><a href="#">Planos e Preços</a></li>
      <li><a href="#">Trabalhe Conosco</a></li>
    </ul>
  </div>

  <div class="functions">
    <h1>Funcionalidades</h1>
    <ul>
      <li><a href="#">Controle Financeiro</a></li> 
      <li><a href="#">Controle de Estoque</a></li>
      <li><a href="#">Controle de Vendas</a></li>
      <li><a href="#">Controle de Clientes</a></li>
      <li><a href="#">Relatórios</a></li>
    </ul>
  </div>

</div>
