.main {
  background-color: #3d5a80;
  padding: 30px 50px;
  width: 100vw;
  height: 33vh;
  display: flex;

  .faq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    margin-right: auto;
    .logo {
      display: flex;
      align-items: center;
      width: fit-content;
      img {
        width: 38px;
        height: 42px;
      }
      .title {
        margin: 0 15px;
        color: white;
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
      }
    }
    .contatos {
      width: fit-content;
      a {
        margin-left: 5px;
        margin-right: 18px;
      }
      img {
        width: 30px;
        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }

  .quemSomos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    padding: 0 40px;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        margin-top: 5px;
        &:hover {
            transform: scale(1.01);
          }
        a {
          text-decoration: none;
          color: #dddddd;
          font-size: 18px;
        }
      }
    }
    h1 {
      font-size: 24px;
      color: white;
    }
  }
  .functions {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    padding: 0 40px;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        margin-top: 5px;
        &:hover {
            transform: scale(1.01);
          }
        a {
          text-decoration: none;
          color: #dddddd;
          font-size: 18px;
        }
      }
    }
    h1 {
      font-size: 24px;
      color: white;
    }
  }
}
