<div class="main">
    <div class="body">
       <h1 class="title">Programa para Assistência
        Técnica acessível e eficaz</h1>
        <p class="description">Conheça o programa para assistência técnica mais eficiente e acessível do mercado! Controle de estoque, financeiro, relatórios, gestão de cadastros e muito mais.</p>         
        <div class="cards">
            <ul>
                <li>
                    <img src="assets/contole-de-estoque 1.png" alt="controle-estoque">
                    <label>Controle de Estoque</label>
                </li>
                <li>
                    <img src="assets/controle-financeiro 1.png" alt="controle-estoque">
                    <label>Controle financeiro</label>
                </li>
                <li>
                    <img src="assets/vendas 1.png" alt="controle-estoque">
                    <label>Emissão de Ordem de Serviços</label>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary">Experimente grátis</button>
    </div>
    <div class="imagem">
        <img src="assets/home-image-repair 1.png" alt="imagem-reparo">
    </div>
</div>