.main{
    display: flex;
    width: 100vw;
    padding: 35px 60px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    .body{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto auto auto 0;
        .title{
            font-size: 32px;
            color: #3D5A80;
            font-weight: bold;
            margin: 20px 0;
        }
        .subtitle{
            color: #3D5A80;
            font-size: 20px;
            width: 95%;
        }
        .description{
            margin-top: 25px;
            font-size: 16px;
            color: #293241;
        }
    }
    .imagem{
        display: flex;
        width: 30%;
        img{
            width: 100%;
        }
    }
}