<div class="main">
    <div class="body">
        <h1 class="title">Gerenciamento de Estoque</h1>
        <h3 class="subtitle">Acabe com os atrasos por falta de estoque</h3>
        <p class="description">Se você possui inúmeras peças no estoque, tem dificuldade para controlar a entrada e saída de cada uma e ainda gasta horas fazendo isso, o sistema para assistência técnica é a solução!</p>
    </div>
    <div class="imagem">
        <img src="assets/controle-estoque 1.png" alt="imagem-assistente-financeiro">
    </div>
 </div>